body {
    background-image: url(../img/fondo.jpg);
    background-size: contain;
    font-family: 'Poppins', sans-serif;
}
#contenedor {
    background-color: aqua;
    opacity: 0.8;
    padding: 1%;
}

#titulo{
    border-width: 6px;
    border-style: dotted;
    border-color: white;
}

#slogan {
    text-align: right;
}

#barraBusqueda {
    background-color: aqua;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    opacity: 0.95;
}
#Buscar{
    margin-top:2%;
    padding: 5%;
}

#botonera{
    background-color: gray;
    padding: 5%;
}

.titulo {
    color: #1779ba;
    font-weight:bold;
}

.imagen {
    border-width:2px;
    border-style: solid;
    border-color: white;
}

.historial{
    text-align: center;
}

.receta1{
    background-color: aqua;
    padding:8%;
    color: gray;
    text-align:justify;
}

#arroz{
    width: 100%;
 
}
.comentario{
    background-color: gray;
    color: black;
    padding: 4%;
    width:100%;
}

.tituloReceta{
   text-align:center;
}
